Source: nagios-plugins-argus
Priority: extra
Maintainer: Valery Tschopp <valery.tschopp@switch.ch>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Section: libs
Homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/ArgusEMINagiosProbes
Vcs-Git: git://github.com/argus-authz/nagios-plugins-argus.git
Vcs-Browser: https://github.com/argus-authz/nagios-plugins-argus

Package: nagios-plugins-argus
Section: libs
Architecture: all
Depends: python, ${misc:Depends}
Description: Nagios plugins for Argus services
 Nagios plugins for the Grid monitoring (EMI). These probes
 monitors the Argus PEP Server, Argus PDP and Argus PAP.